html {
  height: 100%;
}

.main h2 {
  color: yellow;
}

body {
  background-color: #6294b6;
  margin: 0;
  padding: 5px;
  font-family: 'DejaVu Serif', sans-serif;
  text-align: center;
}


.container-logo {
  display: flex;
  justify-content: center;
}


.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.item1 {
  margin: 10px 0 10px 0;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.item2 {
  margin: 20px 0 20px 0;
}

.container-main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.item-about-main-content p {
  text-align: left;
  margin-left: 50px;
  color: white;
}

.item3 {
  margin: 20px 0 20px 0;
}

header {
  left: 5px;
  right: 5px;
  top: 5px;
  box-shadow: 0 0 25px 0 #11120c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  justify-content: center;
}

.header-height {
  height: 100px;
}

.footer-height {
  margin: 5px;
}

header * {
  display: inline;
}

footer * {
  list-style-type: none;
}

header li {
  margin: 20px;
}

footer li {
  margin: 5px;
  color: yellow; /* #edc73d*/
}

header li a {
  color: yellow; /* #edc73d*/
  text-decoration: none;
  font-style: italic;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;

}

header li a:hover {
  color: #0b84b7; /*#e4480b*/
  background-color: yellow;
  padding: 8px;
  border-radius: 10px;
  /* text-decoration: none;*/
}


input, select {
  border-radius: 10px;
  padding: 12px 15px;
  border: 1px solid black;
}


input[type="button"], input[type="submit"] {
  border: none;
}

input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #009789;
  cursor: pointer;
}

.field {
  clear: both;
  text-align: right;
  line-height: 25px;
  margin: 8px 0 8px 0;
}

label {
  float: left;
  padding-right: 10px;
  padding-top: 10px;
  color: yellow;
}

.main {
  float: left;
  margin: 20px
}

.centered-button-div {
  text-align: center;
}

.container-login, .container-create-booking, .container-create-activity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.item-form-wrapper {
  padding-bottom: 20px;
  display: block;
  position: absolute;
  margin-top: 3%;
}

form.create-form {
  background-color: #6294b6;
  width: max-content;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: italic;
  font-weight: bolder;
  box-shadow: 0 0 25px 0 #11120c;
}

button {
  width: max-content;
  text-decoration: none;
  user-select: none;
  padding: .7em 1.5em .7em 1.5em;
  outline: none;
  margin: 10px;
  border-radius: 10px;
  color: yellow;
  background-color: #6294b6;
  border: 2px solid black;
  font-style: italic;
  font-weight: bolder;
}

button:hover {
  color: #0b84b7;
  background-color: yellow;
  cursor: pointer;
}

.modal {
  display: none;
  z-index: 1;
  overflow: auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #16100c;
}


.modal-content {
  width: max-content;
  height: max-content;
  background-color: #1f8bca;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  color: yellow;
  box-shadow: 0 0 25px 0 #11120c;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


table {
  background-color: #6294b6;
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  min-width: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 #11120c;
  font-style: italic;
}

thead tr {
  background-color: #6294b6;
  color: yellow;
  text-align: center;
  vertical-align: middle;
}

th, td {
  padding: 12px 15px;
}

td {
  border-top: 2px solid white;
}

tbody tr:nth-of-type(even) {
  background-color: #032d72;
  color: white;
}

tbody tr:last-of-type {
  border: none;
}

td button {
  width: 100px;
}

.relative-position {
  display: block;
  position: relative;
}
