<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create rider</title>
  <link rel="icon" type="image/png" href="/img/rider.png"/>
  <link href="/css/styling.css" rel="stylesheet">
  <script defer src="/js/config.js"></script>
  <script defer src="/js/team/fetch-teams.js"></script>
  <script defer src="/js/rider/create-rider.js"></script>
</head>
<body id="body">

<div class="container">
  <div class="item1">
    <header class="header-height" id="header">
      <div class="container-header">
        <div class="item1-header">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="#">Rider register</a></li>
            <li><a href="#">Show all riders</a></li>
            <li><a href="#">Show riders by team</a></li>
            <li><a href="show-teams.html">Show all teams</a></li>
          </ul>
        </div>
      </div>
    </header>
  </div>

  <div class="item2">
    <div class="container-main-content">

      <div class="relative-position">
        <a href="index.html"><img alt="tour_de_france" class="tour_de_france" src="/img/tour_de_france.jpg"></a>
      </div>
      <div class="item-form-wrapper"> <!--position absolute-->

        <form class="create-form" id="newRiderForm" method="post">
          <div class="main">
            <h2>Create new rider here:</h2>
            <div class="field">
              <label for="firstName">Firstname:</label>
              <input id="firstName" name="firstName" placeholder="Jens" required type="text">
            </div>
            <div class="field">
              <label for="lastName">Lastname:</label>
              <input id="lastName" name="lastName" placeholder="Nielsen" required type="text">
            </div>
            <div class="field">
              <label for="age">Age:</label>
              <input id="age" name="age" placeholder="24" required type="number" min="0">
            </div>
            <div class="field">
              <label for="country">Country:</label>
              <input id="country" name="country" placeholder="Denmark" required type="text">
            </div>
            <div class="field">
              <label for="riderTime">Total time:</label>
              <input id="riderTime" name="riderTime" placeholder="10000" required type="number" min="0">
            </div>
            <div class="field">
            <label for="teamSelect">Choose the team:</label>
            <select id="teamSelect">
            </select>
          </div>
          <div class="centered-button-div">
            <button class="submit" id="submitRider" title="Save new rider" type="submit">Save new rider</button>
          </div>
          </div>
        </form>
      </div>

      <div class="item3">
      </div>

    </div>
  </div>
</div>
</body>
</html>
