<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show riders</title>
  <link rel="icon" type="image/png" href="/img/rider.png"/>
  <link href="/css/styling.css" rel="stylesheet">
  <script defer src="/js/config.js"></script>
  <script defer src="/js/rider/fetch-rider.js"></script>
  <script defer src="/js/rider/show-riders.js"></script>
  <script defer src="/js/rider/update-rider.js"></script>
  <script defer src="/js/rider/delete-rider.js"></script>

</head>
<body id="body">

<div class="container">
  <div class="item1">
    <header class="header-height" id="header">
      <div class="container-header">
        <div class="item1-header">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="#">Rider register</a></li>
            <li><a href="#">Show all riders</a></li>
            <li><a href="#">Show riders by team</a></li>
            <li><a href="../team/create-team.html">Create new team</a></li>
          </ul>
        </div>
      </div>
    </header>
  </div>

  <div class="item2">
    <div class="container-main-content">

      <div class="relative-position">
        <a href="../index.html"><img alt="tour_de_france" class="tour_de_france" src="/img/tour_de_france.jpg"></a>
      </div>
      <div class="item-form-wrapper"> <!--position absolute-->
        <table id="ridersTable">
          <thead>
          <tr>
            <th colspan="9"><h2>We have the following riders:</h2></th>
          </tr>
          <tr>
            <th>Rider id:</th>
            <th>Firstname:</th>
            <th>Lastname:</th>
            <th>Age:</th>
            <th>Country:</th>
            <th>Rider time total:</th>
            <th>Mountain points:</th>
            <th>Sprint points:</th>
            <th>Team name:</th>
          </tr>
          </thead>
          <tbody>
          <tr></tr>
          </tbody>
        </table>
      </div>
      <div class="item3">
      </div>
    </div>
  </div>
</div>
</body>
</html>
