<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show riders</title>
  <link rel="icon" type="image/png" href="/img/rider.png"/>
  <link href="/css/styling.css" rel="stylesheet">
  <script defer src="/js/config.js"></script>
  <script defer src="/js/time-convertors.js"></script>
  <script defer src="/js/rider/fetch-rider.js"></script>
  <script defer src="/js/rider/show-riders.js"></script>
  <script defer src="/js/rider/update-rider.js"></script>
  <script defer src="/js/rider/delete-rider.js"></script>

</head>
<body id="body">

<div class="container">
  <div class="item1">
    <header class="header-height" id="header">
      <div class="container-header">
        <div class="item1-header">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="create-rider.html">Rider register</a></li>
            <li><a href="#">Show riders by team</a></li>
            <li><a href="../team/create-team.html">Create new team</a></li>
            <li><a href="../team/show-teams.html">Show all teams</a></li>
          </ul>
        </div>
      </div>
    </header>
  </div>

  <div class="item2">
    <div class="container-main-content">

      <div class="relative-position">
        <a href="../index.html"><img alt="tour_de_france" class="tour_de_france" src="/img/tour_de_france.jpg"></a>
      </div>
      <div class="item-form-wrapper"> <!--position absolute-->
        <table id="ridersTable">
          <thead>
          <tr>
            <th style="text-align: center" colspan="11"><h2>We have the following riders:</h2></th>
          </tr>
          <tr>
            <th>Id:</th>
            <th>Firstname:</th>
            <th>Lastname:</th>
            <th>Age:</th>
            <th>Country:</th>
            <th>Rider time<br>total:</th>
            <th>Mountain<br>points:</th>
            <th>Sprint<br>points:</th>
            <th>Team name:</th>
            <th style="text-align: center">Update</th>
            <th style="text-align: center">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr></tr>
          </tbody>
        </table>

        <div class="modal" id="myModal">
          <div class="modal-content">
            <h2>Update rider info here:</h2>
            <span class="close">&times;</span>
            <form class="main>">
              <div class="field">
                <label for="inpFirstName">Firstname:</label>
                <input id="inpFirstName" name="inpFirstName" placeholder="inpFirstName" required type="text">
              </div>
              <div class="field">
                <label for="inpLastName">Lastname:</label>
                <input id="inpLastName" name="inpLastName" placeholder="inpLastName" required type="text">
              </div>
              <div class="field">
                <label for="inpAge">Age:</label>
                <input id="inpAge" min="0" name="inpAge" placeholder="inpAge" required
                       type="number">
              </div>
              <div class="field">
                <label for="inpCountry">Country:</label>
                <input id="inpCountry" name="inpCountry" placeholder="inpCountry" required type="text">
              </div>
              <div class="field">
                <label for="inpRiderTime">Rider time total:</label>
                <input id="inpRiderTime" name="inpRiderTime" placeholder="HH:MM:SS" required
                       type="text">
              </div>
              <div class="field">
                <label for="inpMountainPoints">Mountain points:</label>
                <input id="inpMountainPoints" name="inpMountainPoints" placeholder="0" required type="number" min="0">
              </div>
              <div class="field">
                <label for="inpSprintPoints">Sprint points:</label>
                <input id="inpSprintPoints" name="inpSprintPoints" placeholder="0" required type="number" min="0">
              </div>
              <button class="centered-button-div" id="submitUpdate" title="Update" type="submit">Update rider info
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="item3">
      </div>
    </div>
  </div>
</div>
</body>
</html>
