<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="icon" type="image/png" href="/img/rider.png"/>
  <link href="/css/styling.css" rel="stylesheet">
  <script defer src="/js/config.js"></script>
</head>
<body id="body">

<div class="container">
  <div class="item1">
    <header class="header-height" id="header">
      <div class="container-header">
        <div class="item1-header">
          <ul>
            <li><a href="#">Rider register</a></li>
            <li><a href="#">Show all riders</a></li>
            <li><a href="#">Show riders by team</a></li>
            <li><a href="team/create-team.html">Create new team</a></li>
            <li><a href="team/show-teams.html">Show all teams</a></li>
          </ul>
        </div>
      </div>
    </header>
  </div>

  <div class="item2">
    <div class="container-main-content">
      <a href="index.html"> <img alt="voting" class="voting" src="/img/tour_de_france.jpg"></a>
    </div>
  </div>

  <div class="item3">
  </div>

</div>
</body>
</html>
